<!DOCTYPE html>
<html>
    <body background="{{url_for('static', filename='petr.jpg')}}"></body>
    <head>
        <title>ICS Search Engine</title>
    </head>

    <body>

        <center>

            <! --- Logo --->
            <h1 style = "font-size: 49px;">
                <span style="color:blue">ICS.SEARCH</span>
            </h1>

            <form clas= "Search" action="." method="post">
                <label>Queries</label>
                <input type="search" name="queries" size="70"><br>
                
                <label>Number of Results</label>
                <input type="number" value="5" name="numOfResults" size = "70"><br>

                <input type="submit" value="Search">
                <input type="reset">
            </form>

        </center>
    </body>
</html>