<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

    <head>
        <title>ICS Search Engine</title>
    </head>

    <body>
        <center>
            <! --- Logo --->
            <h1 style="font-size: 49px;">
                <a href="http://127.0.0.1:5000/">
                    <img src="{{url_for('static', filename='logo.png')}}" alt="logo">
                </a>
            </h1>

            <form class= "Search" action="." method="POST">
                <label>Queries</label>
                <input type="search" name="queries" size="70"><br>
                
                <label>Number of Results</label>
                <input type="number" value="5" name="numOfResults">
                <input type="submit" value="Search">
                <input type="reset" value="Reset">
                
                <br>

                <label for="sort">Choose a ranking:</label>
                <select id="sort" name="sort">
                    <option value="tf-idf">tf-idf</option>
                    <option value="cosine similarity">cosine similarity</option>
                </select>

                <br>

                <font color="red">Warning: Cosine similarity is a beta verion. Search at your own risk</font>

            </form>

        </center>
    </body>
</html>